* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.main {
    width: 100%;
    display: flex;
    font-family: 'Open Sans', sans-serif;
}

.header {
    background-color: black;
    color: white;
    padding: 100px 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header__about {
    display: flex;
    justify-content: center;
    transform: rotate(180deg);
}

.header__name,
.header__work-name {
    text-transform: uppercase;
    text-align: right;
    letter-spacing: 1px;
}

.header__name {
    font-size: 55px;
    line-height: 65px;
    font-weight: 700;
    writing-mode: vertical-lr;
}

.header__work-name {
    font-size: 23px;
    font-weight: 200;
    writing-mode: vertical-lr;
}

/* contacts */

.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
}

.contacts__title {
    text-transform: uppercase;
    margin-bottom: 40px;
    width: 100%;
}

.contacts-list-item {
    font-size: 13px;
    font-weight: 100;
    color: #b7b7b7;
}

/* content */

.content {
    width: 100%;
    padding: 120px;
}

.content-title {
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: 25px;
}

.about-text {
    color: #b7b7b7;
    font-weight: 100;
}

.content-item:first-child {
    margin-bottom: 100px;
}

.content-item:nth-child(2),
.content-item:nth-child(3) {
    margin-bottom: 80px;
}

.university:not(:last-child) {
    margin-bottom: 30px;
}

.university-title {
    margin-bottom: 5px;
}

.university-description {
    color: #b7b7b7;
    font-weight: 100;
}

.experience {
    display: flex;
}

.experience:not(:last-child) {
    margin-bottom: 60px;
}

.experience-description-list {
    margin: 0 20px;
}

.experience-old {
    list-style-type: unset;
    margin: 0 20px;
}

.experience-description-list-item {
    color: #b7b7b7;
    position: relative;
}

.experience-description-list-item::before {
    content: '';
    display: block;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    background-color: black;
    position: absolute;
    left: -15px;
    top: 8px
}

.experience-description-title {
    font-weight: 600;
}

.experience-description-title:not(:first-child) {
    margin-bottom: 10px;
}

.skills {
    width: fit-content;
}

.skill {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 14px;
    margin-bottom: 8px;
}

.skill-name {
    color: #b7b7b7;
    font-weight: 100;
    font-size: 16px;
    line-height: 11px;
}

.skill-progress-box {
    width: 240px;
    height: 14px;
    margin-left: 15px;
    position: relative;
}

.skill-progress,
.skill-progress-black {
    width: 100%;
    height: 100%;
}

.skill-progress {
    background-color: #d8d8d8;
}

.skill-progress-black {
    background-color: black;
    position: absolute;
    left: 0;
    top: 0;
}

.progress-75 {
    width: 75%;
}

.progress-50 {
    width: 50%;
}

.line,
.line__660 {
    position: absolute;
}

@media (max-width: 1000px) {
    .main {
        flex-direction: column;
    }

    .header {
        flex-direction: row;
        position: relative;
    }


    .line {
        position: absolute;
        height: 45%;
        width: 2px;
        background-color: white;
        top: 100px;
        left: 59%;
    }

    .header__about {
        transform: rotate(0);
        display: flex;
        flex-direction: column-reverse;
    }

    .contacts {
        margin: 0;
    }

    .header__name,
    .header__work-name {
        writing-mode: unset;
    }
}

@media (max-width: 750px) {
    .line {
        height: 2px;
        width: 80%;
        top: 300px;
        left: 12%;
    }

    .header {
        flex-direction: column;
    }

    .contacts {
        display: none;
    }
}

@media (max-width: 660px) {
    .content {
        padding: 120px 40px 120px 40px;
    }

    .header {
        padding: 70px 80px;
    }

    .header__name {
        font-size: 37px;
        line-height: 42px;
    }

    .header__work-name {
        font-size: 16px;
    }

    .line {
        display: none;
    }

    .line__660 {
        width: 100%;
        height: 2px;
        background-color: white;
        top: 130px;
    }

    .skill-progress-box {
        width: 150px;
    }
}

@media (max-width: 400px) {
    .header {
        padding: 70px 40px;
    }

    .content {
        padding: 60px 40px;
    }

    .content-title {
        font-size: 20px;
    }

    .about-text {
        font-size: 12px;
    }

    .content-item:first-child {
        margin-bottom: 60px;
    }

    .content-item:nth-child(2),
    .content-item:nth-child(3) {
        margin-bottom: 60px;
    }

    .university-title {
        font-size: 15px;
    }

    .university-description {
        font-size: 14px;
    }

    .skill-name {
        font-size: 12px;
    }

    .skill-progress-box {
        width: 100px;
    }

    .experience {
        flex-direction: column;
    }

    .experience-description-title {
        font-size: 14px;
    }

    .experience-old {
        margin: 0;
        margin-bottom: 10px;
        list-style-type: none;
    }

    .experience-description-list-item {
        font-size: 14px;
    }

    .experience:not(:last-child) {
        margin-bottom: 40px;
    }
}